---
import WhatsappIcon from "../icons/WhatsappIcon.astro";
interface Props {
  extra?:string;
  url?: string;
  texto: string;
  pagina?:boolean;
  iconTama침o?:string;
  flotante?:string;
  whatsapp?: string;
}

const { url, texto, whatsapp, extra, pagina, flotante , iconTama침o="30"} = Astro.props;

const isWhatsApp = !!whatsapp || !!flotante;
const href = isWhatsApp
  ? `https://wa.me/+51932468013?text=${encodeURIComponent(whatsapp ||flotante|| "Hola, me interesa saber m치s")}`
  : url;

const baseClass = "boton py-3 px-6 rounded-2xl text-white";
const variantClass = isWhatsApp
  ? "bg-bases hover:bg-bases-hover"
  : "bg-bases hover:bg-bases-hover";
---

{whatsapp ? (
  <a
    href={href}
    class={`${baseClass} ${variantClass} ${extra}`}
    title={`WhatsApp - Contacto directo con Soledad Consultora Immunotec`}
    target="_blank"
    rel="noopener noreferrer"
  >
   <slot/> {texto}
  </a>
) : pagina ? (
  <a
    href={href}
    title="Immunotec"
    target="_blank"
    class={`${baseClass} ${variantClass} ${extra}`}
  >
    {texto}
  </a>
) : flotante ? (
  <a
    href={href}
    title={`WhatsApp - Contacto directo con Soledad Consultora Immunotec`}
    class={` ${extra}   `}
    target="_blank"
    rel="noopener noreferrer"
  >
    <WhatsappIcon size={` ${iconTama침o}`}/>
  </a>
) : (
  <a
    href={href}
    title="WhatsApp - Contacto directo con Soledad Consultora Immunotec"
    class={`${baseClass} ${variantClass} ${extra}`}
  >
    {texto}
  </a>
)
}

