---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  ocultar: boolean;
  title: string;
  description: string;
  author?: string;
  canonicalURL?: string;
  ogImgUrl?: string;
}

const {
  ocultar = false,
  title,
  description,
  author = "Pedro Alejandro",
  canonicalURL = "https://tusitio.com",
  ogImgUrl = "/default-og-image.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />

    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
  </head>
  <body class="font-poppins">
    {ocultar && <Header />}

    <slot />
    {ocultar && <Footer/>}
  </body>
</html>
